body,
html {
 text-align: center;
  margin:0;
}
.name {
  font-size: 300%;
  font-family: "Pacifico", cursive;
  
}
.name .red {
  color: rgb(69,69,69,0.9);
}
.nav {
  text-align: center;
  padding-top: 1rem;
  display: block;
}
.item {
  text-align: center;
  margin: 1rem 0 0.1rem;
}

.a-item {

  display: inline-block;
  padding: 20px 35px 10px;
}
.a-item a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "IBM Plex Sans", sans-serif;
}
.icon{
    display: none;
}
.a-item a:hover {
  color: tan;
}

@media screen and (max-width: 900px) {
    .name {
        float: left;
        font-size: 200%;
        margin-left: 40px;
      }
    .a-item{
        display: none;
    }
    .icon{
        display: block;
        float: right;
        margin-right: 40px;
    }
    .dash{
        height: 3px;
        width: 27px;
        background-color: rgb(136, 135, 135);
        border: none;
        display:block;
        margin: 6px;
    }
    .nav {
        padding-top: 1.5rem;
      }
  }
.continue:hover{
  background-color: tan;
  color: white;
}

@media screen and (max-width: 600px) {
    .name {
        float: left;
        font-size: 160%;
        margin-left: 20px;
      }
    .a-item{
        display: none;
    }
    .icon{
        display: block;
        float: right;
        margin-right: 20px;
    }
    .dash{
        height: 2px;
        width: 27px;
        background-color: rgb(69,69,69);
        border: none;
        display:block;
        margin: 5px;
    }
    .nav {
        padding-top: 1.5rem;
      }
  }
  .appear{
  display: none;   
}
  @media screen and (max-width: 900px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        margin-left: 30px;
        
    }
    
    li a {
        display: block;
        color: #000;
        font-family: "IBM Plex Sans", sans-serif;
        padding: 8px 16px 20px;
        text-decoration: none;
    }
    

    .appear-on{
        z-index: 3;
        border-top: 1px solid rgb(69,69,69,0.2);
        border-bottom: 0.1px solid rgb(69,69,69,0.2);
        display: block;
        text-align: left;
        margin-top: 10px;
        width: 100%;
        position: absolute;
        background-color: white;
    }
}


/* photo */
.img img{
  width: 100%;
  max-height: 450px;
  margin-top: 1px;
}
.img{
  display: none;

}
.img-slideshow{
  position: relative;
}


.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 15px 22px;
  background-color: rgb(0,0,0,0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.prev{
  left: 10%;
}
.next{
  right: 10%;
}
@media screen and (max-width: 900px) {
  .photo img{
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  ul {
    margin-left: 10px;
  }}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }


  
  /* BLOG *//* BLOG *//* BLOG *//* BLOG *//* BLOG */


.big-class{
    position: relative;
    margin-top: 5%;
  overflow: hidden;
  }
.category{
  height: 16px;
  width: auto;
  padding: 2px 4px;
  display: inline-block;
  border-radius: 5px;
  background-color: tan;
  margin: auto;
  font-family: 'IBM Plex Mono', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.blog{
  position: relative;
  padding-top: 1rem;
  width: 55%;
  left: 10%;
  float: left;
}
.blogContent h2{
    color: rgb(69,69,69);
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
    display: inline-block;
}
.date{
  color: rgb(69,69,69);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}

.blogContent h2:hover, .date:hover{
  color: tan;
}
.blogContent img{
  width: 100%;
  border-radius: 10px;
}
.text{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  line-height: 1.6;
  font-size: 1.3vw;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 25px;

}

.continue{
  text-decoration: none;
  
  color: tan;
  font-family: 'Merriweather', serif;
  padding: 8px 5px;
  border: 1px solid tan;

}
.hrLine{
  margin: 45px 0;
  border-top: 1px;
}
/* About */

.hrLineAbt{
  margin: 20px 0;
  border-top: 1px;
}

.aboutMe{
  position: relative;
  width: 20%;
  right: 10%;
  float: right;
 
}
.aboutMe-box{
  border: 1px solid tan;
  margin: 0 0 20px;
}
.aboutMe-box-in{
  border: 1px solid tan;
  margin: 2px;
  padding: 0 8px;
}
.about-head{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-align: left;
}
.abtImg{
  width: 50%;
  border-radius: 50%;
}
.about-text{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.fab{
  color: white;
  background-color: tan;
  padding: 10px;
  font-size: 20px;
  margin:  15px 5px 25px;
  border-radius: 50%;
}
.fab:hover{
  background-color: rgb(209, 164, 105);
}
.fa-facebook-f{
  padding: 10px 14px;
}

@media screen and (max-width: 1000px) {
  .blog{
    position: relative;
    width: 80%;
  }
  .aboutMe{
    position: relative;
    width: 80%;
    margin-top: 50px;
  }
  .text{
    font-size: 3vw;
    font-weight: bold;
  }
}




/* footer
footer
footer */



.footer{
  background-color: rgb(41,41,41);
  color: rgb(131, 131, 131);
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}
.footLeft{
  width: 35%;
}
.black{
  padding: 20px;
}
.footMid{
  width: 25%;
  margin: 20px;
  text-align: left;
  padding: 20px;
}

.footRight{
  width: 35%;
  margin: 20px 0;
}

.verHR{
  border-right: 1px solid rgb(131, 131, 131);
  height: 230px;
  margin: 20px 0;
}
.footer ul{
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}
.name .pp{
  font-size: 13px;
  margin-top: 55px;
  color: white;
}
.fabs{
  margin: 0;
  margin-right: 10px;
  background-color: rgb(131, 131, 131);
}
.fabs:hover{
  background-color: rgb(69,69,69,0.9);
}
.list a{
  color: rgb(131, 131, 131);
  text-decoration: none;
  margin: 25px;
}
.list a:hover{
  color: white;
  text-decoration: underline;
}
.name p{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.form .inputa{
    width: 18%;
    height: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
    padding-left: 10px;
    position: absolute;
    right: 8%;
    outline: none;
}
.form .inputb{
  width: 5%;
  height: 32px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px ;
  background-color: rgb(131, 131, 131);
  color: white;
  border:none;
  position: absolute;
  right: 5%;
  outline: none;
}
.form{
  width: 100%;
}
.inputb:hover{
  background-color: black;
}
.inputb:active{
  background-color:rgb(131, 131, 131);
  box-shadow: 0 1px rgb(255, 255, 255);
}