body{
  margin: 0;
  font-family: 'Schoolbell', cursive;
}

/* navbar */
.navbar{
  background-color: rgb(41, 41, 41);
  width: 100%;
}
.nav-components{
  display: flex;
}
.brand{
  flex:1;
  display: flex;
  justify-content: center;
  padding: 12px 16px;
}
.brand a{
  text-decoration: none;
  font-size: 36px;
  color: white;
}
.nav-items{
  flex: 1;
}
.nav-items a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 23px 16px;
  text-decoration: none;
}
.nav-items.new{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-items.icon{
  display: flex;
  justify-content: flex-end;
}
.nav-items.icon a{
  font-size: 20px;
  padding: 23px 20px;
}

/* up-brand */
.up-brand{
  text-align: center;
  display: none;
}
.up-brand a{
  text-decoration: none;
  font-size: 36px;
  color: rgb(41, 41, 41);
}

@media only screen and (max-width: 1100px) {
  .nav-components, .up-brand{
    display: block;
  }
  .brand{
    display: none;
  }
  .nav-items.icon{
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  .nav-items.icon{
    display: none;
  }
  .nav-items a{
    padding: 23px;
  }
}

.content-section{
 padding: 25px 150px;
}
.content-section div{
  max-width: 33%;
  float: left;
}
.content-section img{
  width: 100%;
  height: auto;
  margin: 10px;
}
@media only screen and (max-width: 1000px) {
  .content-section div{
    max-width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 600px) {
  .content-section div{
    max-width: 100%;
  }
}
